*{
    box-sizing: border-box;
}
body{
    text-align: center;
    overflow: auto;
    background: url("../test/school.png");

}

.card{
    margin: 0 auto;
}
/* made the jumbotron a litte smaller */
.jumbotron{
    padding: 2rem 1rem;
    background: pink;
    clear:both;

}

#img{
    width: 150px;
    height: 125px;
    visibility: hidden;
}

.card-body{
    background:lightblue;
}
#logo{
    font-family: 'Pacifico', cursive;
    float: left;
    transform: rotate(-30deg);
    position: relative;
    left: 60px;
    top: 5px;
  


   

}
#logo h1{
    font-size: 60px;
}